body {
  font-family: "Ubuntu", sans-serif;
}

.card {
  max-width: 400px;
  padding: 32px 16px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.card-title {
  font-size: 1.3em;
  color: #333;
}

.card-text {
  font-size: 1em;
  color: #999;
  font-weight: 300;
  padding: 15px 0;
}

.login-box {
  width: 400px;
}

.image-background {
  background-image: url('./assets/media/photos/background.jpg');
  position: absolute;
  height: 100%;
  width: 100%;
}

#page-header {
  background:  rgb(0, 0, 0, 0.2);
  z-index: 999;
}

.main-container {
  margin-top: 70px;
}

.boards {
  margin-left: 0px;
  margin-right: 0px;
}

.board-card {
  display: flex;
  width: 220px !important;
  height: 120px !important;
  margin: 20px;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  background-color: #5067c5;
  text-align: center;
}